<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bomb Damage</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>750</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Increase Damage</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Gold Bonus</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1500</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Increase gold by 2 per monster killed</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Player Barn Damage</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>500</integer>
			<key>Item Description</key>
			<string>Barns damage to enemy monster</string>
			<key>Item Level Up Description</key>
			<string>Increase Barn Damage</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Player Barn Armor</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>500</integer>
			<key>Item Description</key>
			<string>Defense for the your barn</string>
			<key>Item Level Up Description</key>
			<string>Decrease damage taken by 1</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Player Barn Health</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>500</integer>
			<key>Item Description</key>
			<string>Barn Health</string>
			<key>Item Level Up Description</key>
			<string>Increase Barns Health</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Energy Max</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>600</integer>
			<key>Item Description</key>
			<string>The max seeds you can hold</string>
			<key>Item Level Up Description</key>
			<string>Max seed of 200</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1400</integer>
			<key>Item Description</key>
			<string>The max seeds you can hold</string>
			<key>Item Level Up Description</key>
			<string>Max Seed of 400</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Energy Regeneration</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Item Description</key>
			<string>Seed gain per cycle</string>
			<key>Price</key>
			<integer>600</integer>
			<key>Item Level Up Description</key>
			<string>2 seeds per cycle</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1400</integer>
			<key>Item Description</key>
			<string>Seed gain per cycle</string>
			<key>Item Level Up Description</key>
			<string>4 seeds per cycle</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Ship Damage</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>700</integer>
			<key>Item Description</key>
			<string>Damage dealt by ship bullet</string>
			<key>Item Level Up Description</key>
			<string>Increase ship bullet damage</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Ship Firerate</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>700</integer>
			<key>Item Description</key>
			<string>Rate your ship fires bullet</string>
			<key>Item Level Up Description</key>
			<string>Increase the rate of fire</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Ship AreaOfEffect Damage</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1000</integer>
			<key>Item Description</key>
			<string>Bullet deals some damage to every monster it hit</string>
			<key>Item Level Up Description</key>
			<string>Bullets will be able to hit multiple tagets</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Orange</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>600</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1000</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>300</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>600</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage/Decrease Delay</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>800</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Speed</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1000</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>Apple</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>700</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Buy Seeds</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1200</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Apple</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1100</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Apple</string>
			<key>Required Item Level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1600</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage/Delay</string>
			<key>Required Item</key>
			<string>Apple</string>
			<key>Required Item Level</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1900</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage/Speed</string>
			<key>Required Item</key>
			<string>Apple</string>
			<key>Required Item Level</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>2200</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage/Speed</string>
			<key>Required Item</key>
			<string>Apple</string>
			<key>Required Item Level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>3000</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage/Delay</string>
			<key>Required Item</key>
			<string>Apple</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>Strawberry</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>800</integer>
			<key>Item Description</key>
			<string>Long Range Shooter</string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1400</integer>
			<key>Item Description</key>
			<string>Long Range Shooter</string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Strawberry</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>900</integer>
			<key>Item Description</key>
			<string>Long Range Shooter</string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>900</integer>
			<key>Item Description</key>
			<string>Long Range Shooter</string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Cherry</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Strawberry</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Mango</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Cherry</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Banana</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Mango</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Coconut</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Banana</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Grape</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Coconut</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Pineapple</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Grape</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Watermelon</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Pineapple</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
