<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bomb Damage</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>800</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>2000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Bomb Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>5000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Bomb Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>10000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Bomb Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>10000</integer>
			<key>Item Description</key>
			<string>Bomb Damage Can Destroy Low Tier Enemy</string>
			<key>Item Level Up Description</key>
			<string>Increase Damage</string>
			<key>Required Item</key>
			<string>Bomb Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>15000</integer>
			<key>Item Description</key>
			<string>Bomb Damage Can Destroy Low-Mid Tier Enemy</string>
			<key>Item Level Up Description</key>
			<string>Increase Damage</string>
			<key>Required Item</key>
			<string>Bomb Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>20000</integer>
			<key>Item Description</key>
			<string>Bomb Damage Can Destroy Mid Tier Enemy</string>
			<key>Item Level Up Description</key>
			<string>Increase Damage</string>
			<key>Required Item</key>
			<string>Bomb Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>30000</integer>
			<key>Item Description</key>
			<string>Bomb Damage Can Destroy Mid-High Tier Enemy</string>
			<key>Item Level Up Description</key>
			<string>Increase Damage</string>
			<key>Required Item</key>
			<string>Bomb Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Gold Bonus</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>750</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Gold Bonus</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>2000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Gold Bonus</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>5000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Gold Bonus</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>10000</integer>
			<key>Item Description</key>
			<string>Gold Bonus Gained From Killing Monster</string>
			<key>Item Level Up Description</key>
			<string>Increase gold by 1</string>
			<key>Required Item</key>
			<string>Gold Bonus</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>12500</integer>
			<key>Item Description</key>
			<string>Gold Bonus Gained From Killing Monster</string>
			<key>Item Level Up Description</key>
			<string>Increase gold by 2</string>
			<key>Required Item</key>
			<string>Gold Bonus</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>20000</integer>
			<key>Item Description</key>
			<string>Gold Bonus Gained From Killing Monster</string>
			<key>Item Level Up Description</key>
			<string>Increase gold by 4</string>
			<key>Required Item</key>
			<string>Gold Bonus</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>30000</integer>
			<key>Item Description</key>
			<string>Gold Bonus Gained From Killing Monster</string>
			<key>Item Level Up Description</key>
			<string>Increase gold by 8</string>
			<key>Required Item</key>
			<string></string>
		</dict>
		<dict>
			<key>Price</key>
			<integer>40000</integer>
			<key>Item Description</key>
			<string>Gold Bonus Gained From Killing Monster</string>
			<key>Item Level Up Description</key>
			<string>Increase gold by 15</string>
			<key>Required Item</key>
			<string>Gold Bonus</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Player Barn Damage</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>750</integer>
			<key>Item Description</key>
			<string>Barns Attack Damage</string>
			<key>Item Level Up Description</key>
			<string>Increase Barn Damage</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>500</integer>
			<key>Item Description</key>
			<string>Barns Attack Damage</string>
			<key>Item Level Up Description</key>
			<string>Increase Barn Damage</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>750</integer>
			<key>Item Description</key>
			<string>Barns Attack Damage</string>
			<key>Item Level Up Description</key>
			<string>Increase Barn Damage</string>
			<key>Required Item</key>
			<string>Player Barn Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1500</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Player Barn Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>3000</integer>
			<key>Item Description</key>
			<string>Barns Attack Damage</string>
			<key>Item Level Up Description</key>
			<string>Increase Barn Damage</string>
			<key>Required Item</key>
			<string>Player Barn Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>7500</integer>
			<key>Item Description</key>
			<string>Barns Attack Damage</string>
			<key>Item Level Up Description</key>
			<string>Increase Barn Damage</string>
			<key>Required Item</key>
			<string>Player Barn Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>15000</integer>
			<key>Item Description</key>
			<string>Barns Attack Damage</string>
			<key>Item Level Up Description</key>
			<string>Increase Barn Damage</string>
			<key>Required Item</key>
			<string>Player Barn Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>25000</integer>
			<key>Item Description</key>
			<string>Barns Attack Damage</string>
			<key>Item Level Up Description</key>
			<string>Increase Barn Damage</string>
			<key>Required Item</key>
			<string>Player Barn Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>40000</integer>
			<key>Item Description</key>
			<string>Barns Attack Damage</string>
			<key>Item Level Up Description</key>
			<string>Increase Barn Damage</string>
			<key>Required Item</key>
			<string>Player Barn Damage</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Player Barn Armor</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>500</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>750</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Player Barn Armor</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1500</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Player Barn Armor</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>3000</integer>
			<key>Item Description</key>
			<string>Reduce Incoming Damage From Monster</string>
			<key>Item Level Up Description</key>
			<string>Increase Armor</string>
			<key>Required Item</key>
			<string>Player Barn Armor</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>6000</integer>
			<key>Item Description</key>
			<string>Reduce Incoming Damage From Monster</string>
			<key>Item Level Up Description</key>
			<string>Increase Armor</string>
			<key>Required Item</key>
			<string>Player Barn Armor</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>12000</integer>
			<key>Item Description</key>
			<string>Reduce Incoming Damage From Monster</string>
			<key>Item Level Up Description</key>
			<string>Increase Armor</string>
			<key>Required Item</key>
			<string>Player Barn Armor</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>25000</integer>
			<key>Item Description</key>
			<string>Reduce Incoming Damage From Monster</string>
			<key>Item Level Up Description</key>
			<string>Increase Armor</string>
			<key>Required Item</key>
			<string>Player Barn Armor</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>40000</integer>
			<key>Item Description</key>
			<string>Reduce Incoming Damage From Monster</string>
			<key>Item Level Up Description</key>
			<string>Increase Armor</string>
			<key>Required Item</key>
			<string>Player Barn Armor</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Player Barn Health</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>800</integer>
			<key>Item Description</key>
			<string>Barn Health</string>
			<key>Item Level Up Description</key>
			<string>Increase Barns Health</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>500</integer>
			<key>Item Description</key>
			<string>Barn Health</string>
			<key>Item Level Up Description</key>
			<string>Increase Barns Health</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>750</integer>
			<key>Item Description</key>
			<string>Barn Health</string>
			<key>Item Level Up Description</key>
			<string>Increase Barns Health</string>
			<key>Required Item</key>
			<string>Player Barn Armor</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1500</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Player Barn Armor</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>3000</integer>
			<key>Item Description</key>
			<string>Barn Health</string>
			<key>Item Level Up Description</key>
			<string>Increase Barns Health</string>
			<key>Required Item</key>
			<string>Player Barn Armor</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>6000</integer>
			<key>Item Description</key>
			<string>Barn Health</string>
			<key>Item Level Up Description</key>
			<string>Increase Barns Health</string>
			<key>Required Item</key>
			<string>Player Barn Health</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>15000</integer>
			<key>Item Description</key>
			<string>Barn Health</string>
			<key>Item Level Up Description</key>
			<string>Increase Barns Health</string>
			<key>Required Item</key>
			<string>Player Barn Health</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>25000</integer>
			<key>Item Description</key>
			<string>Barn Health</string>
			<key>Item Level Up Description</key>
			<string>Increase Barns Health</string>
			<key>Required Item</key>
			<string>Player Barn Health</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>40000</integer>
			<key>Item Description</key>
			<string>Barn Health</string>
			<key>Item Level Up Description</key>
			<string>Increase Barns Health</string>
			<key>Required Item</key>
			<string>Player Barn Health</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Energy Max</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>2000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>8000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>16000</integer>
			<key>Item Description</key>
			<string>Max Seed Able To Hold</string>
			<key>Item Level Up Description</key>
			<string>Max seed of 200</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>25000</integer>
			<key>Item Description</key>
			<string>Max Seed Able To Hold</string>
			<key>Item Level Up Description</key>
			<string>Max Seed of 500</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>40000</integer>
			<key>Item Description</key>
			<string>Max Seed Able To Hold</string>
			<key>Item Level Up Description</key>
			<string>Max Seed of 750</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>60000</integer>
			<key>Item Description</key>
			<string>Max Seed Able To Hold</string>
			<key>Item Level Up Description</key>
			<string>Max Seed of 1000</string>
			<key>Required Item</key>
			<string>Game Levels </string>
			<key>Required Item Level</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>100000</integer>
			<key>Item Description</key>
			<string>Max Seed Able To Hold</string>
			<key>Item Level Up Description</key>
			<string>Max Seed of 1500</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>40</integer>
		</dict>
	</array>
	<key>Energy Regeneration</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>2500</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>10000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Item Description</key>
			<string>Seed gain per cycle</string>
			<key>Price</key>
			<integer>20000</integer>
			<key>Item Level Up Description</key>
			<string>2 seeds per cycle</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>25000</integer>
			<key>Item Description</key>
			<string>Seed gain per cycle</string>
			<key>Item Level Up Description</key>
			<string>3 seeds per cycle</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>40000</integer>
			<key>Item Description</key>
			<string>Seed gain per cycle</string>
			<key>Item Level Up Description</key>
			<string>5 seeds per cycle</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>60000</integer>
			<key>Item Description</key>
			<string>Seed gain per cycle</string>
			<key>Item Level Up Description</key>
			<string>10 seeds per cycle</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>100000</integer>
			<key>Item Description</key>
			<string>Seed gain per cycle</string>
			<key>Item Level Up Description</key>
			<string>20 seeds per cycle</string>
			<key>Required Item</key>
			<string>Game Levels </string>
			<key>Required Item Level</key>
			<integer>40</integer>
		</dict>
	</array>
	<key>Ship Damage</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>500</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>2000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>5000</integer>
			<key>Item Description</key>
			<string>Damage Per Bullet</string>
			<key>Item Level Up Description</key>
			<string>Increase ship bullet damage</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>10000</integer>
			<key>Item Description</key>
			<string>Damage Per Bullet</string>
			<key>Item Level Up Description</key>
			<string>Increase the damage</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>20000</integer>
			<key>Item Description</key>
			<string>Damage Per Bullet</string>
			<key>Item Level Up Description</key>
			<string>Increase the damage</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>60000</integer>
			<key>Item Description</key>
			<string>Damage Per Bullet</string>
			<key>Item Level Up Description</key>
			<string>Increase the damage</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>80000</integer>
			<key>Item Description</key>
			<string>Damage Per Bullet</string>
			<key>Item Level Up Description</key>
			<string>Increase the damage</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>40</integer>
		</dict>
	</array>
	<key>Ship Firerate</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>500</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>10</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>2000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>5000</integer>
			<key>Item Description</key>
			<string>Rate The Ship Fires Bullet</string>
			<key>Item Level Up Description</key>
			<string>Increase the rate of fire</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>10000</integer>
			<key>Item Description</key>
			<string>Rate The Ship Fires Bullet</string>
			<key>Item Level Up Description</key>
			<string>Increase The Rate Of Fire</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>24000</integer>
			<key>Item Description</key>
			<string>Rate The Ship Fires Bullet</string>
			<key>Item Level Up Description</key>
			<string>Increase the rate of fire</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>45000</integer>
			<key>Item Description</key>
			<string>Rate The Ship Fires Bullet</string>
			<key>Item Level Up Description</key>
			<string>Increase the rate of fire</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>80000</integer>
			<key>Item Description</key>
			<string>Rate The Ship Fires Bullet</string>
			<key>Item Level Up Description</key>
			<string>Increase the rate of fire</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>40</integer>
		</dict>
	</array>
	<key>Orange</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string>Close Range/Low Cost</string>
			<key>Item Level Up Description</key>
			<string>Able To Use</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>600</integer>
			<key>Item Description</key>
			<string>Close Range Attacker</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>1200</integer>
			<key>Item Description</key>
			<string>Close Range Attacker</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>2000</integer>
			<key>Item Description</key>
			<string>Close Range Attacker</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>4000</integer>
			<key>Item Description</key>
			<string>Close Range Attacker</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage/Decrease Delay</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>8000</integer>
			<key>Item Description</key>
			<string>Close Range Attacker</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Speed</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>14000</integer>
			<key>Item Description</key>
			<string>Close Range Attacker</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Orange</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>Apple</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>1000</integer>
			<key>Item Description</key>
			<string>Close Range Attacker</string>
			<key>Item Level Up Description</key>
			<string>Buy Seeds To Equip</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>2500</integer>
			<key>Item Description</key>
			<string>Close Range Attacker</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Apple</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>5000</integer>
			<key>Item Description</key>
			<string>Close Range Attacker</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Apple</string>
			<key>Required Item Level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>8000</integer>
			<key>Item Description</key>
			<string>Close Range Attacker</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage/Delay</string>
			<key>Required Item</key>
			<string>Apple</string>
			<key>Required Item Level</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>15000</integer>
			<key>Item Description</key>
			<string>Close Range Attacker</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage/Speed</string>
			<key>Required Item</key>
			<string>Apple</string>
			<key>Required Item Level</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>30000</integer>
			<key>Item Description</key>
			<string>Close Range Attacker</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage/Speed</string>
			<key>Required Item</key>
			<string>Apple</string>
			<key>Required Item Level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>50000</integer>
			<key>Item Description</key>
			<string>Close Range</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage/Delay</string>
			<key>Required Item</key>
			<string>Apple</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>Strawberry</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>1300</integer>
			<key>Item Description</key>
			<string>Long Range Shooter</string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>3000</integer>
			<key>Item Description</key>
			<string>Long Range Shooter</string>
			<key>Item Level Up Description</key>
			<string>Increase Damage</string>
			<key>Required Item</key>
			<string>Strawberry</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>6000</integer>
			<key>Item Description</key>
			<string>Long Range Shooter</string>
			<key>Item Level Up Description</key>
			<string>Increase Damage/Health</string>
			<key>Required Item</key>
			<string>Strawberry</string>
			<key>Required Item Level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>12000</integer>
			<key>Item Description</key>
			<string>Long Range Shooter</string>
			<key>Item Level Up Description</key>
			<string>Increase Damage</string>
			<key>Required Item</key>
			<string>Strawberry</string>
			<key>Required Item Level</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>20000</integer>
			<key>Item Description</key>
			<string>Long Range Shooter</string>
			<key>Item Level Up Description</key>
			<string>Increase Damage</string>
			<key>Required Item</key>
			<string>Strawberry</string>
			<key>Required Item Level</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>35000</integer>
			<key>Item Description</key>
			<string>Long Range Shooter</string>
			<key>Item Level Up Description</key>
			<string>Increase Damage</string>
			<key>Required Item</key>
			<string>Strawberry</string>
			<key>Required Item Level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>45000</integer>
			<key>Item Description</key>
			<string>Long Range Shooter</string>
			<key>Item Level Up Description</key>
			<string>Increase Damage</string>
			<key>Required Item</key>
			<string>Strawberry</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>Coconut</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>2300</integer>
			<key>Item Description</key>
			<string>Close Range Tank</string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>5000</integer>
			<key>Item Description</key>
			<string>Close Range Tank</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Coconut</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>10000</integer>
			<key>Item Description</key>
			<string>Close Range Tank</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Coconut</string>
			<key>Required Item Level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>20000</integer>
			<key>Item Description</key>
			<string>Close Range Tank</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Coconut</string>
			<key>Required Item Level</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>35000</integer>
			<key>Item Description</key>
			<string>Close Range Tank</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Coconut</string>
			<key>Required Item Level</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>50000</integer>
			<key>Item Description</key>
			<string>Close Range Tank</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Coconut</string>
			<key>Required Item Level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>65000</integer>
			<key>Item Description</key>
			<string>Close Range Tank</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Coconut</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>Grape</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>5000</integer>
			<key>Item Description</key>
			<string>Mid Range AOE Shooter</string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>10000</integer>
			<key>Item Description</key>
			<string>Mid Range AOE Shooter</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Grape</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>20000</integer>
			<key>Item Description</key>
			<string>Mid Range AOE Shooter</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Grape</string>
			<key>Required Item Level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>30000</integer>
			<key>Item Description</key>
			<string>Mid Range AOE Shooter</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Grape</string>
			<key>Required Item Level</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>40000</integer>
			<key>Item Description</key>
			<string>Mid Range AOE Shooter</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Grape</string>
			<key>Required Item Level</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>50000</integer>
			<key>Item Description</key>
			<string>Mid Range AOE Shooter</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Grape</string>
			<key>Required Item Level</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>60000</integer>
			<key>Item Description</key>
			<string>Mid Range AOE Shooter</string>
			<key>Item Level Up Description</key>
			<string>Increase Health/Damage</string>
			<key>Required Item</key>
			<string>Grape</string>
			<key>Required Item Level</key>
			<integer>5</integer>
		</dict>
	</array>
	<key>Pineapple</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>45000</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Grape</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Grape</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Grape</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>Watermelon</key>
	<array>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Game Levels</string>
			<key>Required Item Level</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Pineapple</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string>Able To Equip And Use In Game</string>
			<key>Required Item</key>
			<string>Pineapple</string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Price</key>
			<integer>0</integer>
			<key>Item Description</key>
			<string></string>
			<key>Item Level Up Description</key>
			<string></string>
			<key>Required Item</key>
			<string></string>
			<key>Required Item Level</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
