<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bomb Damage</key>
	<integer>-1</integer>
	<key>Pineapple</key>
	<integer>-1</integer>
	<key>Watermelon</key>
	<integer>-1</integer>
	<key>Grape</key>
	<integer>-1</integer>
	<key>Coconut</key>
	<integer>-1</integer>
	<key>Banana</key>
	<integer>-1</integer>
	<key>Mango</key>
	<integer>-1</integer>
	<key>Cherry</key>
	<integer>-1</integer>
	<key>Strawberry</key>
	<integer>-1</integer>
	<key>Apple</key>
	<integer>-1</integer>
	<key>Orange</key>
	<integer>0</integer>
	<key>Ship AreaOfEffect Damage</key>
	<integer>0</integer>
	<key>Ship Firerate</key>
	<integer>0</integer>
	<key>Ship Damage</key>
	<integer>0</integer>
	<key>Energy Regeneration</key>
	<integer>0</integer>
	<key>Energy Max</key>
	<integer>0</integer>
	<key>Player Barn Health</key>
	<integer>0</integer>
	<key>Player Barn Armor</key>
	<integer>0</integer>
	<key>Gold Bonus</key>
	<integer>0</integer>
	<key>Game Levels</key>
	<integer>7</integer>
</dict>
</plist>
